h4 {
	display: inline-block;
}

.resultHeight {
	height: 600px;
}

img {
	max-width: 250px;
	max-height: 200px;
}

.searchBtn:hover{
	background-color: #FF0000;
}

#name {
	font-size: 18px;
}

.bob {
	display: none;
}